@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body, input, textarea, button, select {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 50px;
    padding: 0;
    background-color: #FFF2F2;
    font-size: 1.2rem;
  }
main{
    margin-top: 300px;
}

h1{
    color:#F2789F;
}

/* remove the link sublines */
a {
    text-decoration: none;
    color: rgb(172, 170, 170);
}

/* change the link hover color */
a:hover {
    color:#FFD6EC;
}

div{
    margin-top: 10px;
}

/* change the color of title and description */
.title{
    color: #FF74B1;
    font-size: 3.5rem;
}
#description {
    color: #FF74B1;
}

/* change the color of h2 */
h2 {
    color: #FF74B1;
    font-size: 3rem;
}

/* Modify the nav bar */
.topnav {
    margin: 0px;
    overflow: hidden;
    background-color: #F2D1D1;
}
header * {
    display: inline;
}
header {
    background-color: #F2D1D1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
}
header li {
    margin: 20px;
    font-size:x-large;
}
header li a {
    color: #EE6983;
    text-decoration: none;
}


/* Make the input tags look nicer */
input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
    height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
    height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
    margin: 0;
    padding: .25em .5em;
}

/* Set the size of the help text in forms */
.helptext {
    display: block;
    font-size: 80%;
  }

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  padding: 2em;
  text-align: center;
}

/* Make the login and sign-up forms label smaller */
.login-form label,
.signup-form label {
    font-size: 80%;
}


/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
}

/* Make all of the headers the same */
.task-form h1,
.project-form h1{
  margin-top: 0;
  margin-left:46%
}
/* Add spacing to the section of the project detail */
.project-detail h2 {
    margin-top: 2em;
  }

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 100px;
  max-width: 800px;
  padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
  margin:0;
}

/* Add a tag of the table to the color of black */
.project-list td a,
.project-detail td a{
    color:black;
}

/* Add a hover tag of the table to the color of pink */
.project-list td a:hover,
.project-detail td a:hover{
    color:#FFD6EC;
}

.project-list table{
    width:100%;
}


/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
  color:#F08FC0;
  font-size: 1.5rem;
}


/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(1),
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(1),
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
  font-size: 1.2rem;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}

/* Make the forms' bottoms prettier */
.btn{
    background: #F999B7;
    background-image: -webkit-linear-gradient(top, #F999B7, #F2789F);
    background-image: -moz-linear-gradient(top, #F999B7, #F2789F);
    background-image: -ms-linear-gradient(top, #F999B7, #F2789F);
    background-image: -o-linear-gradient(top, #F999B7, #F2789F);
    background-image: linear-gradient(to bottom, #F999B7, #F2789F);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 0.25em 1em;
    text-decoration: none;
    border-color:white;
}
.btn:hover{
    background: #FFBCD1;
    background-image: -webkit-linear-gradient(top, #FFBCD1, #FFBCD1);
    background-image: -moz-linear-gradient(top, #FFBCD1, #FFBCD1);
    background-image: -ms-linear-gradient(top, #FFBCD1, #FFBCD1);
    background-image: -o-linear-gradient(top, #FFBCD1, #FFBCD1);
    background-image: linear-gradient(to bottom, #FFBCD1, #FFBCD1);
    text-decoration: none;
  }

.task-form button,
.project-form button {
    margin-left: 50%;
    margin-right: 50%;
    font-size: 24px;
}

body {
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background2 {
    background: url(background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
