{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1 class="title">My Tasks</h1>
            <p>
                <a href ="{% url 'create_note' %}">Create a new note</a>
            </p>
            {% if task_list|length == 0 %}
                <P>You have no tasks</P>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno:'yes,no' }}</td>
                                {% for note in task.notes.all %}
                                    <td>{{ note.notes }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
