{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1 class="title">{{ project_object.name }}</h1>
            <P id = "description">{{ project_object.description }}</P>
            <h2>Tasks</h2>
            <p>
                <a href ="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_object.tasks.count == 0 %}
                <P>This project has no tasks</P>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_object.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_complete|yesno:'yes,no' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
